<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<div class="main" th:fragment="inc">
    <div class="templateAuditList">
        <div class="head-box">
            <span class="filter" @click="showFilter()">筛选</span>
            <span class="static">统计数据</span>
        </div>
        <div class="table">
            <el-table :data="templateList" border :height="600" tooltip-effect="light">
                <el-table-column align="center" label="模板ID" prop="id" width="125px"></el-table-column>
                <el-table-column align="center" label="模板标题" prop="name" width="245px"
                                 show-overflow-tooltip></el-table-column>
                <el-table-column align="center" label="设计师" prop="designer" width="150px"></el-table-column>
                <el-table-column align="center" label="审核时间" prop="status" width="200px"></el-table-column>
                <el-table-column align="center" label="审核状态" prop="status" width="125px"></el-table-column>
                <el-table-column align="center" label="采购价" prop="price" width="125px"></el-table-column>
                <el-table-column align="center" label="操作" width="125px">
                    <template slot-scope="scope">
                        <span @click="showInfo(scope.$index)" class="showDetail">查看</span>
                    </template>
                </el-table-column>
            </el-table>
        </div>
        <div class="pageNav">
            <el-pagination
                    layout="prev, pager, next"
                    :total="1000"
                    style="padding-top: 12px"
            >
            </el-pagination>
        </div>
        <div class="myMask" id="myMask" style="display: none"></div>
    </div>
    <div class="filter-box" v-if="isVisible" v-cloak>
        <div class="body">
            <span class="title">
                <span style="color:#2b89fb;">▌</span> 筛选条件
                <span class="close_btn" @click="isVisible = !isVisible">&#10006</span>
            </span>
            <hr>
            <span class="input_line">
                <label for="tempId">模板ID</label><input type="text" id="tempId">
            </span>
            <span class="input_line">
                <label for="name">设计师</label><input type="text" id="name">
            </span>
            <span class="input_line">
                <label for="title">模板标题</label><input type="text" id="title">
            </span>
            <span class="input_line">
                <label for="time">审核时间</label><input type="text" id="time">
            </span>
            <span class="input_line">
                <label for="status">审核状态</label><input type="text" id="status">
            </span>
            <br>
            <div class="footer">
                <div class="btn" @click="onClear">重置</div>
                <div class="btn" @click="onFilter">确认</div>
            </div>
        </div>
        <div class="mask" v-if="isVisible"></div>
    </div>
    <script>
        let tempListVM = new Vue({
            el: '.templateAuditList',
            data: {
                templateList: [
                    {
                        name: '初号机',
                        id: 0
                    },
                    {
                        name: '1号机',
                        id: 1
                    },
                ]
            },
            methods: {
                showInfo: function (index) {
                    console.log(index);
                },
                showFilter: function () {
                    filter.showBox();
                }
            }
        });

        let filter = new Vue({
            el: '.filter-box',
            data: {
                isVisible: false,
            },
            methods: {
                showBox: function () {
                    this.isVisible = true;
                },
                onClear: function () {

                },
                onFilter: function () {
                    this.isVisible = !this.isVisible;
                }
            }
        });
    </script>
</div>