<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="/js/jQuery.js"></script>
    <link rel="stylesheet" href="login.src.css">

    <style>
        .tip{
            color: red;
        }
    </style>
</head>
<body>
    <label for="name">账户 </label><input type="text" id="name"><span id="name_tip" class="tip"></span><br>
    <label for="password">密码 </label><input type="password" id="password"><span id="pass_tip" class="tip"></span><br>
    <button class="btn" onclick="submit()">提交</button>
</body>

<script>
    $(function () {

    });

    function submit() {
        let name = $('#name').val();
        let password = $('#password').val();
        // document.location.href = "/login?name=" + name + "&password=" + password;
        $.ajax({
            url: '/loginValidate',
            data:{
                name: name,
                password: password,
            },
            type: 'get',
            dataType: 'json',
            success: function (data) {
                if(data.success){
                    document.location.href = "/login?name=" + name + "&password=" + password;
                }else{
                    if(data.type === 1){
                        $('#name_tip').html(data.msg);
                        $('#pass_tip').html("");
                    }
                    if(data.type === 2){
                        $('#name_tip').html("");
                        $('#pass_tip').html(data.msg);
                    }
                }
            }
        })
    }
</script>
</html>