<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>设计师平台</title>
    <link rel="stylesheet" th:href="@{lib/css/element.css}">
    <link rel="stylesheet" th:href="@{res/css/index.css}">
    <link rel="stylesheet" href="/res/css/comm.css?v=3">

    <script type="text/javascript" th:src="@{lib/js/jQuery.js}"></script>
    <script type="text/javascript" th:src="@{lib/js/Vue.js}"></script>
    <script type="text/javascript" th:src="@{lib/js/element.js}"></script>
</head>
<body>

<header>
    <div class="nav">
        <div class="logo"></div>
        <div class="navSpan">
            <span id="active0" onclick="gotoPage(0)">模板审核</span>
            <span id="active1" onclick="gotoPage(1)">协议管理</span>
            <span id="active2" onclick="gotoPage(2)">提现记录</span>
            <span id="active3" onclick="gotoPage(3)">分佣管理</span>
        </div>
    </div>
</header>

<div class="ds" th:switch="${active}">
    <div th:case="active0" class="main_wrap">
        <!--模板审核表-->
        <div th:replace="/inc/templateList::inc"></div>
    </div>
    <div th:case="active1" class="main_wrap">
        <!--设计师审核表-->
        <div th:replace="/inc/designerList::inc"></div>
    </div>
    <div th:case="active2" class="main_wrap">
        <!--提现记录表-->
        <div th:replace="/inc/cashDesignerList::inc"></div>
    </div>
    <div th:case="active3" class="main_wrap">
        <!--分佣管理表-->
        <div th:replace="/inc/cashRecordList::inc"></div>
    </div>
</div>

</body>

<script type="text/javascript" th:src="@{res/js/index.js}"></script>
<!--headerJs-->
<script th:inline="javascript">
    $(function () {
        var active = [[${active}]];
        $("#" + active).addClass("active");
    });
    function gotoPage(index) {
        // 切换页面
        if (index === 0) {
            document.location.href = "/tempList"
        } else if (index === 1) {
            document.location.href = "/desList"
        } else if (index === 2) {
            document.location.href = "/cashTemp"
        } else if (index === 3) {
            document.location.href = "/cashDes"
        }
    }
</script>

</html>
