
.cashRecordList{
    width: 1100px;
    margin: auto;
}

.cashRecordList .head-box{
    text-align: center;
    height: 50px;
    border-radius: 15px 15px 0 0 ;
    background-color: white;
}

.cashRecordList .head-box .filter, .static{
    position: relative;
    top: 12px;
    margin-right: 12px;
    cursor: pointer;
}
.cashRecordList .head-box .filter:hover{
    color: #3a8ee6;
}
.cashRecordList .head-box .static:hover{
    color: #5daf34;
}

.cashRecordList .table{
}

.cashRecordList .pageNav {
    text-align: center;
    height: 50px;
    background-color: white;
    border-radius: 0 0 15px 15px;
}
